<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1> Water </h1>
      <h1> Those </h1>
      <a class="navbar-brand" href="/">

      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">


  <h2> DON'T KILL YOUR PLANTS. </h2>
  <%= button_to "Water", 'https://waterthose.herokuapp.com/water', method: :get, class: "btn btn-info" %>
</div>
